<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About</h1>
    <p class="lead">Plantopedia is a large-scale participatory platform and information system dedicated to the
      production of botanical data through image-based plant identification. Our website uses the Pl@ntNet API
      that provides access to the visual identification engine used in Pl@ntNet apps in the form of a RESTful
      Web service. Images used on this website were sourced from <a href="https://unsplash.com/license">Unsplash</a> and <a href="https://www.pexels.com/license/">Pixabay</a>. </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" target="_blank" href="https://my.plantnet.org/usage" role="button">Pl@ntNet
        API</a>
    </p>
<h1 class="display-4">Release Notes 3.25.22</h1>
<ul class="ul">
  <li class="lead">New Features</li>
  <ul>
    <li>
      Switched server providers to Heroku
    </li>
  </ul>
  <li class="lead">Coming Soon</li>
  <ul>
    <li>
      Plantopedia results will also display the most recently uploaded photos from other users that matched with the
      same
      results.
    </li>
  </ul>
</ul>

<h1 class="display-4">Release Notes 5.24.21</h1>
<ul class="ul">
  <li class="lead">New Features</li>
  <ul>
    <li>
      You can now view release notes.
    </li>
    <li>
      You can now download the results of your query in a CSV file.
    </li>
  </ul>
  <li class="lead">
    Fixes
  </li>
  <ul>
    <li>
      Radio buttons for photo category were not displayed properly and have now been corrected.
    </li>
  </ul>
</ul>
</div>
</div>