<form method="POST" id = "Form" name="Form" action="/contact">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleText">Enter Message</label>
    <textarea name="text" class="form-control rounded-0 textarea" id="exampleText"
      placeholder="Please share any questions or feedback!"></textarea>
  </div>
  <div>
    <input type="submit" value="Send Email" onclick="myFunction()">
  </div>
</form>
<script >
  var form = document.getElementById("Form");
  function myFunction() {
    if (form.checkValidity()) {
      alert("Message Sent Successfully!");
    }
  }
</script>
